
/* Color Theme Swatches in Hex */
.Cores-Floresta-1-hex { color: #2D3F13; }
.Cores-Floresta-2-hex { color: #6A7233; }
.Cores-Floresta-3-hex { color: #574723; }
.Cores-Floresta-4-hex { color: #8B7349; }
.Cores-Floresta-5-hex { color: #F4F1F1; }

/* Color Theme Swatches in RGBA */
.Cores-Floresta-1-rgba { color: rgba(45, 63, 18, 1); }
.Cores-Floresta-2-rgba { color: rgba(105, 114, 51, 1); }
.Cores-Floresta-3-rgba { color: rgba(86, 70, 35, 1); }
.Cores-Floresta-4-rgba { color: rgba(138, 114, 73, 1); }
.Cores-Floresta-5-rgba { color: rgba(244, 240, 240, 1); }

/* Color Theme Swatches in HSLA */
.Cores-Floresta-1-hsla { color: hsla(84, 53, 16, 1); }
.Cores-Floresta-2-hsla { color: hsla(67, 38, 32, 1); }
.Cores-Floresta-3-hsla { color: hsla(41, 42, 23, 1); }
.Cores-Floresta-4-hsla { color: hsla(38, 31, 41, 1); }
.Cores-Floresta-5-hsla { color: hsla(0, 12, 95, 1); }


*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
   background-image: url(./assets/images/teste1.png);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}


header {
    margin-top: 5em;
    font-family: 'Cinzel', serif;
    font-size: x-large;
    color: black;
    
}

.principal {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em;
    padding: 2em;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    text-align: justify;
    line-height: 2em;
    
    
}


.botao {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Cinzel', serif;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    background-color: rgba(105, 114, 51, 1);
    opacity: 0.8;
}

button:hover {
    transform: scale(1.2);
}


footer {
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: white;
    color: rgba(138, 114, 73, 1);
}